# Development related files
style.css.map

# Template and note files
album-template.clip
database-schema.dbml

# Non-layout image files
public/img/cards
public/img/level-banners

# Sensitive Data
credentials.php