.pagename {
  font-size: 3rem;
  font-weight: $font-weight-bold;
  letter-spacing: 0.25rem;
  margin: 2rem 0 4rem;
  text-transform: uppercase;

  &::after {
    background: linear-gradient(
      to right,
      $step-1 16.6%,
      $step-2 16.6% 33.2%,
      $step-3 33.2% 49.8%,
      $step-4 49.8% 66.4%,
      $step-5 66.4% 83%,
      $step-6 100%
    );
    background-repeat: repeat-x;
    content: "";
    display: block;
    padding-top: 0.25rem;
    width: 2rem;
  }
}

.section {
  &--logs {
    @include media($layout-break) {
      display: flex;
      justify-content: space-between;

      & > .section {
        width: 48%;
      }
    }
  }

  &__header {
    @include header-style;

    @each $name, $colour in $steps {
      &--#{$name}::before {
        color: $colour;
      }
    }
  }

  &__container {
    @include media($layout-break) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.desclist {
  &__term {
    display: inline;
    font-weight: $font-weight-semi-bold;

    &::after {
      color: $step-1;
      content: "\002014";
      margin-left: 0.25rem;
    }
  }

  &__definition {
    display: inline;
    margin: 0;

    &::after {
      content: "\A";
      display: block;
      line-height: 0.5rem;
      white-space: pre;
    }
  }
}

.levelbanner {
  @include media($layout-break) {
    margin-right: 1rem;
  }
}

.albumcover:not(:last-child) {
  margin-right: 0.2rem;
}
