.footer {
  background: $body-text;
  color: #fff;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 0.75rem;

  @include media($layout-break) {
    padding: 1rem 2rem;
  }

  &__paragraph {
    margin: 0.5rem;
  }
}
