.log {
  width: 100%;
  font-size: 0.85rem;

  .log__header {
    color: $step-2;
    font-size: 0.9rem;
    font-weight: $font-weight-bold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
}
